@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900&subset=latin,latin-ext);

/**
 * @file
 * Defines the typography rules, like size, weight and font family.
 */

body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-weight: 400;
}

h2, h3, h4, h5, h6, strong {
  font-weight: 600;
  line-height: 1.1;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 7px;
}

.ultra-bold {
  font-weight: 900;
}

#site-header {
  font-size: .9em;
}

#header-search {

  .form-text {
    font-size: 1.3em;
  }
}

#og-context-navigation {

  li {
    letter-spacing: -1px;
    font-size: 0.6em;
  }
}

#back-to-parent-link {
  font-size: 1.2em;
}


.main-navigation-item {
  font-size: .7em;
  line-height: 1;
  font-weight: 600;
}

caption, .forum-table-superheader .forum-table-name {
  font-size: 1.3em;
  font-weight: normal;
}

th {
  font-weight: normal;
}

#forum-statistics {

  * {
    font-weight: normal;
  }
}

.forum-table thead tr a, .forum-table thead tr a:link {
  font-weight: normal;
}

.forum-add-node span {
  font-size: 1em !important;
}

.calendar-calendar {

  th, th.days {
    text-transform: lowercase;
    font-weight: 600;
  }
}

.forum-post-info, .forum-post-title {
  font-weight: normal !important;
}

#quiz_progress {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}

.portlet-header {
  font-size: 1.2em;
  font-weight: normal;
}

@media screen and (min-width: 700px) and (max-width: 1399px) {

  caption {
    font-size: 1.2em;

    a + a {
      font-size: 0.8em;
    }
  }
}