// Load utility, base and components.
@import "partials/utility";
@import "partials/base";
@import "partials/layout";
@import "partials/components";

#block-system-navigation {
  ul.menu {
    margin-top: 0px;
    font-size: 120%;
  }
}

@media all and (max-width: 800px) {
  .front.not-logged-in {
    #first-sidebar {
      display: none;
    }
    #second-sidebar {
      width: 100%;
    }
  }
}