.participant_state {
	width: 100px;
	float: left;
	margin-right: 10px;
	overflow: hidden;
	line-height: 1.1;
	margin-bottom: 30px;
	text-align: center;
}

.participant_state img {
	width: 80%;
	padding: 10px 0 3px 0;
}

.cf {
	clear: both;
}

.states .state {
	display: block;
	margin-bottom: 10px;
	clear: both;
}

.states .state a {
	display: table-cell;
	vertical-align: middle;
}

.states .state a.icon {
	width: 60px;
	padding-right: 10px;
}

.states .state a img {
	float: left;
	margin-right: 10px;
	width: 100%;
}

.states .process_states,
.states .decision_states {
	float: left;
	width: 40%;
	margin-right: 10%;
}

.states .process_states p,
.states .decision_states p {
	margin-top: -5px;
}

.page-node-add #block-invite-invite-add-invite-by-email {
	display: none;
}

@media only screen and (max-width: 500px) and (min-device-width: 500px) {
	.states .process_states,
	.states .decision_states {
		width: 100%;
		margin-right: 0%;
	}
}
